/* =========================
responsive 
========================= */

@media (min-width: 992px) and (max-width:1200px) {
    .partner ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 991px) {
    p {
        line-height: 20px;
    }
    html {
        font-size: 75%;
    }
    .header_text h1 {
        font-size: 80px;
    }
    .partner ul {
        grid-template-columns: 1fr 1fr;
    }
    .service_area .service_content {
        grid-template-columns: 1fr;
    }
    .single_service {
        grid-template-columns: 1fr;
    }
    .portfolio_content {
        grid-template-columns: 1fr;
    }
    .port_right_content p {
        margin: 70px 0 30px 0;
    }
    .courier_area .fashion_img {
        grid-template-columns: 1fr;
    }
    .footer_content {
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 50px;
    }
}

@media(max-width: 768px) {
    p {
        line-height: 20px;
    }
    html {
        font-size: 65%;
    }
    .header_text h1 {
        font-size: 50px;
    }
    .partner ul {
        grid-template-columns: 1fr;
    }
    .service_area .service_content {
        grid-template-columns: 1fr;
    }
    .single_service {
        grid-template-columns: 1fr;
    }
    .portfolio_content {
        grid-template-columns: 1fr;
    }
    .port_right_content p {
        margin: 70px 0 30px 0;
    }
    .courier_area .fashion_img {
        grid-template-columns: 1fr;
    }
    .footer_content {
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 50px;
    }
}